/*======= 
Global Styling
==============*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transition: .5s ease-in-out;
}

body {
  margin: 0;
  font-size: 12px;
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 20vh;
  margin-top: 30px;
  border-top: .5px solid #f1ecec;
}

p {
  margin: 1em;
}

main {
  min-height: calc(100vh - 20vh);
}

ul {
  list-style-type: none;
  padding: 0;
}

/*===  Base Stylling === */
/*====== pseudo-selectors ======*/

#main-header {
  padding: .53em 0;
  border-bottom: 0.9px solid #f1ecec;
  margin-bottom: 50px;
}

.logo {
  max-width: 150px;
  box-sizing: content-box !important;
}

.container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  
  border: 0.9px solid #f1ecec;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
}

/*=== Container link styles ===*/
.container a {
  color: #001154;
  text-decoration: none;
  transition: .5s ease-in-out;
}

.container a:hover {
  color: #771f1f;
  text-decoration: none;
}
.container a:active {
  color: #771f1f;
}


.story-liner:last-child {
  border-bottom: none;
}

/*===== Writings Header =========*/
.writings {
  font-size: 30px;
  text-transform: uppercase;
  color: #771F1F;
  text-shadow: 2px 2px 0px #d7d9e000;
}

#search-container {
  display: flex;
  flex-flow: row;
  width: 80%;
  margin: 0 auto;
  background-color: #e0e0e0;
}
/*=== Input  Searchbox ===*/
#search-box {
  width: 80%;
  padding: 8.5px 12px;
  border: none;
  background-color: #eee !important;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
}

#search-box:focus {
  border-bottom: .5px solid #771f1f;
  outline: none;
}

#search-box + a {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #771f1f;
}

#search-box + a:hover {
  background-color: #ddd;
  transform: scale(1.05);
  border: 2px solid #771f1f;
}
/*== icon ===*/
.icon{color: #fff}
.icon:hover {color: #771f1f;}

/*== Articles ===*/
.articles {
  padding: 0px;
  margin-top: 20px;
}
/*== Story Line ===*/
.story-liner {
  border-top: 0.9px solid #f1ecec;
  width: 95%;
  margin: auto;
  padding: 12px;
  border-bottom: 0.9px solid #f1ecec;
}
.details {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
}
.details time {
  color: #aaa;
  margin: 0px 6px;
}

.by-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin-top: 8px;
}

/*======== Author name ==================*/
.author {
  text-decoration: none;
  font-weight: 700;
  color: #771F1F !important;
}

/*=== Author name hover effects=====*/
.author:hover {
  background-color: #eee;
}
/*======== Author image ======*/
.avatar {
  max-width: 35px;
  height: 35px;
  background-size: cover;
  border-radius: 50%;
  border: .5px #121212 solid;
  margin-left: 6.66px;
  transition: .5s;
}

.avatar:hover {
	transform: scale(1.5);
}

.title {
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}
.title::before {
  content: '-';
  color: #aaa;
}
.wrapper a,
.main-nav a {
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  margin: 0px;
  display: block;
}

.main-nav a {
  font-weight: 800;
  color: #001154;
}

#home {
  color: #771f1f;
}

.main-nav a:active {
  color: #771F1F;
}

.main-nav a:hover{
  color: #771F1F;
}

.col-1{
  float: left;
  padding: 1em 0;
  margin-left: 6px;
  width: 50%;
}
.col-2{
  float: right;
  padding: 1em 0;
  margin-left: 6px;
  width: 50%;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
    overflow: auto;
}

.more-link {
  font-weight: 800;
}

/*===========
Media Queries
===============*/


/*==== large devices sizes ==========*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
      width: 90%;
      max-width: 900px;
      margin: 0 auto;
  }
  .wrapper a {
      float: left;
  }
  .main-nav {
      float: right;
  }
  .main-nav li{
      display: inline-block;
  }
  .details,
  .by-line {
    width: 100%;
    margin-left: 100px;
  }
  .avatar {
    max-width: 50px;
    height: 50px;
  }
  #search-container {
  width: 50%;
  }
}
@media only screen and (min-width: 900px) {
	.logo {
    max-width: 200px
    }
}
