* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20vh;
    margin-top: 30px;
    border-top: .5px solid #ddd;
}

p {
    margin: 1em;
}

main {
    min-height: calc(100vh - 20vh);
}

/*pseudo-selectors*/

#main-header {
    padding: .53em 0;
    border: .4px solid #478;
    border-bottom: 4px solid #478;
    margin-bottom: 50px;
}

.logo {
    max-width: 100px;
}

.container {
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #ffffff;

    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
}

.container a {
    color: #05536df1;
    text-decoration: none;
}
.container a:hover {
    color: #666;
    text-decoration: none;
}
.container a:active {
    color: #900;
}
.container a:visited {
    color: #666;
}

.story-liner:last-child {
    border-bottom: none;
}


.writings {
    font-size: 30px;
    text-transform: uppercase;
    color: #478;
    text-shadow: 2px 2px 0px #ddd;
}

#search-container #search-box {
    padding: 6px;
    border: none !important;
    color: #000;
    background-color: #eee !important;
}

.articles {
    padding: 0px;
    margin-top: 20px;
}

.story-liner {
    padding: 12px;
    border-bottom: .1px solid silver;
}
.details {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center;
}
.details time {
    color: #aaa;
    margin: 0px 6px;
}

.by-line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-top: 8px;
}
.author {
    text-decoration: none;
    font-weight: 600;
    color: #ee6f08 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.author:hover {
    color: #000;
    background-color: #ddd;
}

.avatar {
    max-width: 35px;
    height: 35px;
    background-size: cover;
    border-radius: 50%;
    border: .5px #000 solid;
    margin-left: 6px;
}

.title {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
}

.wrapper a,
.main-nav a {
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    margin: 0px;
    display: block;
}

.main-nav a {
    font-weight: 900;
    color: #478;
}

.main-nav a:active{
    color: tomato;
}

.main-nav {
    list-style: none;
    padding: 0;
}
.col-1{
    float: left;
    padding: 1em 0;
    margin-left: 6px;
    width: 50%;
}
.col-2{
    float: right;
    padding: 1em 0;
    margin-left: 6px;
    width: 50%;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
    overflow: auto;
}

.main-content {
    width: 100%;
    margin: 0 auto;
}

/*small screeens*/
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 auto;
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
    }

    .details {
        display: flex;
        justify-content: flex-start;
        margin: auto;
    }
    .by-line {
        display: flex;
        justify-content: flex-start;
        margin: auto;
    }
}
/*large devices*/
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
        max-width: 1024px;
        margin: 0 auto;
    }
    .wrapper a {
        float: left;
    }
    .main-nav {
        float: right;
    }
    .main-nav li{
        display: inline-block;
    }
    .details {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    }
    .by-line {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    }
}
